*{
    padding: 0%;margin: 0%;
}
#baner{
    background-image: url(./images/baner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.logo{
    width: 150px;
    position: absolute;
    top: 4%;
    left: 4%;
}
.baner-text{
    text-align: center;
    padding-top: 200px;
    color: white;
    h1{
        font-size: 90px;
    }
    p{
        font-size: 30px;
        font-style: italic;
    }
}
.baner-btn{
    text-align: center;
    margin: 70px auto 0;
    a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        border: 1px solid white;
        display: inline-block;
        width: 150px;
        padding:15px 0;
        margin: 0 15px;
        position: relative;
        transition: 0.5s;
        z-index: 1;
        span{
            background-color: white;
            top: 0%;
            left: 0%;
            width: 0%;
            height: 100%;
            position: absolute;
            transition: 0.5s;
            z-index: -1;
        }
        &:hover span{width: 100%;}
        &:hover {color: black;}

    }
}